build/Run_Data/
build/Run.exe
build/cabildo.zip
build/cabildo.rar
cabildo/Assets/Images/UI/btnBochas.png.meta
cabildo/Assets/Images/UI/btnPerinola.png.meta
cabildo/Assets/Images/UI/btnPulperia.png.meta
cabildo/Assets/Images/UI/globoPulperia.png.meta
build/Cabildo.exe
build/build.rar
build/Cabildo_Data/sharedassets0.resource
build/aaaaa/Cabildo.exe
build/aaaaa/Cabildo_Data/Managed/Assembly-CSharp-firstpass.dll
build/aaaaa/Cabildo_Data/Managed/Assembly-CSharp.dll
build/aaaaa/Cabildo_Data/Managed/Mono.Security.dll
build/aaaaa/Cabildo_Data/Managed/System.Core.dll
build/aaaaa/Cabildo_Data/Managed/System.dll
build/aaaaa/Cabildo_Data/Managed/UnityEngine.Networking.dll
build/aaaaa/Cabildo_Data/Managed/UnityEngine.UI.dll
build/aaaaa/Cabildo_Data/Managed/UnityEngine.dll
build/aaaaa/Cabildo_Data/Managed/UnityEngine.dll.mdb
build/aaaaa/Cabildo_Data/Managed/mscorlib.dll
build/aaaaa/Cabildo_Data/Mono/MonoPosixHelper.dll
build/aaaaa/Cabildo_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
build/aaaaa/Cabildo_Data/Mono/etc/mono/1.0/machine.config
build/aaaaa/Cabildo_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
build/aaaaa/Cabildo_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
build/aaaaa/Cabildo_Data/Mono/etc/mono/2.0/machine.config
build/aaaaa/Cabildo_Data/Mono/etc/mono/2.0/settings.map
build/aaaaa/Cabildo_Data/Mono/etc/mono/2.0/web.config
build/aaaaa/Cabildo_Data/Mono/etc/mono/browscap.ini
build/aaaaa/Cabildo_Data/Mono/etc/mono/config
build/aaaaa/Cabildo_Data/Mono/etc/mono/mconfig/config.xml
build/aaaaa/Cabildo_Data/Mono/mono.dll
build/aaaaa/Cabildo_Data/Resources/unity default resources
build/aaaaa/Cabildo_Data/Resources/unity_builtin_extra
build/aaaaa/Cabildo_Data/app.info
build/aaaaa/Cabildo_Data/globalgamemanagers
build/aaaaa/Cabildo_Data/globalgamemanagers.assets
build/aaaaa/Cabildo_Data/level0
build/aaaaa/Cabildo_Data/level0.resS
build/aaaaa/Cabildo_Data/output_log.txt
build/aaaaa/Cabildo_Data/resources.assets
build/aaaaa/Cabildo_Data/sharedassets0.assets
build/aaaaa/Cabildo_Data/sharedassets0.assets.resS
build/aaaaa/Cabildo_Data/sharedassets0.resource
build/aaaaa/conversaciones.json
build/aaaaa/texts.json
